#footer {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    font-family: 'SF Pro Text', sans-serif;
    line-height: 1.42857143;
    font-size: 14px;
    color: white;
    font-weight: 400;
    box-sizing: border-box;
    display: block;
    background: #000000D9;
    padding-bottom: 54px;
    padding-top: 50px;
  
}
.container-footer {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    font-family: 'SF Pro Text', sans-serif;
    line-height: 1.42857143;
    color: #000;
    font-weight: 400;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 70vw;
}
.row {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    font-family: 'SF Pro Text', sans-serif;
    line-height: 1.42857143;
    color: #000;
    font-weight: 400;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin-left: -15px;
    margin-right: -15px;
}
.footer_title {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    line-height: 1.4;
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 16px;
}
.footer_linklists {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    font-family: 'SF Pro Text', sans-serif;
    line-height: 1.42857143;
    color: #000;
    font-weight: 400;
    font-size: 100%;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}
    .footer_linklists li {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-text-size-adjust: none;
        font-family: 'SF Pro Text', sans-serif;
        line-height: 1.42857143;
        color: #000;
        font-weight: 400;
        list-style: none;
        box-sizing: border-box;
        border: 0;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
        margin-bottom: 8px;
        font-size: 12px;
        text-decoration: none;
    }
        .footer_linklists li a {
            text-decoration: none;
            color: white;
        }