@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/stylesheet.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Styles.Render("~/Content/stylesheet.css")
    <script>
        $(document).ready(function () {
            $(".btn-group > .btn").click(function () {
                $(this).addClass("active-item").siblings().removeClass("active-item").children().css('fill', 'black')
                $(this).addClass("active-item").children().css('fill','white')
            });
        });
    </script>
</head>
<body>
    <div>
        <div class="container top-text-center">
            <div class="row">
                <div class="col">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAjdJREFUSEu11dmrTmEUBvDfMacMkTlEhDIryZThQobEjSJKhkjccCH+AG5QoiSkSDJdSOTGlKFEkcxCxsxKkplWvUef49t7f+G8d3u31nretZ5nPW+VWj5VtVxfJQCdMB0T0C9d6BKOYDce510yD6ApdmJyToEf2Is5+FAuLgugMc6jNz5hM9bjXirSFUsxHw1S7Ah8qQmSBbADs/AI43Ajo4u+OIp2WIdllQD0wRV8xWDEvNtiK4akAmcxDy8xEqfwGV3wtBSkXAcbsBgbsSQVrwYpzY3u+uMNdmEGVmJ1EcAddEvzv5aInomDWJGS12J84mYhRuM4TqeOfmGU6yBIDeLq4jueoD3a4EUJyXfxEJ3RAq9TNy2LOniL5miC90nnHdCxRPOxGw/Sd/yP2HeI3ADL7eAiBqEHbmM7ZqcRLUcjrEqLty2R3QvXcSEJIxdgS0oKgoPoVriK1jUkGBscJMdoQp5rsAmLijoYg2O4jAEpODiolmnwcgYL8Bx1cBPdMQznigCC+PuJvClpNHl2EwoLS7mFnpUsWsRMwx48QyzeqwyEID/GF6KYhMOVAkTcCYxKWzoW32okN0zjGIhDWaaY56ZhD7FoIbtQSxhbuGecetiHGGHsQpAdEv3jFL0HQ3ES9REGODfJNN6BGElYdBAbgih7igAiaSr2J7XEIxPvxPBk4xOT4jJFUAlAJAcHB9AsVQry4yGKxco9lQJEkdjWUNbHNPvfbPlfRlR0yf/WwV8B/QQWDHYZj3ZwRAAAAABJRU5ErkJggg==" />
                    149 cửa hàng khắp cả nước
                </div>
                <div class="col">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAd1JREFUSEvN1c+LTXEYx/HXmJL8KAtCUiaEEOPHQmEWlCQWlJXf8Q8oK1ZqVtixErEQi0kWFnYiSWKaiIj8KKIslGKB0KPn1pnjnsk5tynfuov7Pfd+3t/v8zyfz+kyyqtrlPVVAabjGn5hCz40PUg7wFTcwdwUfYG1TSFlQIjfwgK8TsBsPMe6JpAyIMqyGW+wJkt0E3MQNwnI+zrlKgN+oBuz8DaFoh838lZD6O0E8BmTMBFf2gDuY1UngEdYnJ/HKTSYp45n6/GxE8A57MNeXEihGNFpWI27dcTjt+Ue7MdZXMTOFDuPPTiBw50CYkzjxN8xA5+wAlH7b1iKp3Ug7Yw2gO3ox9EUO4MDOb47cC/340DXC47/a4TbAZbgYZ54JaK541N0UQpfwXGcxvLcCzP2lX1SlUUncSjdHIZ7l5BTOQTFKr3KLz3p+GGQKsC4jIyY+ZfYitbYLsvSbcMzbEhAmHFeGTJSXE/BbcxP0x3EpREaXHT8A0R5K+O6pTMZV7O2sXc5R7UVI0VeNDxyayH+GRACY1L0GMbiZ5Yrpi2SN1L3a4pHCg8LxTpvtJk4gt2YUFGqaHi8O2Io/qw6gNZ/4habsCuzKcoY6wk2FlK4MaCOkRvd4P8C/Aa9EWMZMtyNWQAAAABJRU5ErkJggg==" />
                    Đặt hàng: 1800.6936
                </div>
            </div>
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="null">
                    <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/03/logo-the-coffee-house-chieu-dai.png" width="255" />
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Cà phê</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Trà</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Menu
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Cà phê</a></li>
                                <li><a class="dropdown-item" href="#">Trà</a></li>
                                <li><a class="dropdown-item" href="#">Hi-Tea Healthy</a></li>
                                <li><a class="dropdown-item" href="#">Trà xanh-Socola</a></li>
                                <li><a class="dropdown-item" href="#">Thức uống & Đá xay</a></li>
                                <li><a class="dropdown-item" href="#">Bánh & Snack</a></li>
                            </ul>
                        </li>
                        <li class="nax-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Chuyện Nhà
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Coffeeholic</a></li>
                                <li><a class="dropdown-item" href="#">Teaholic</a></li>
                                <li><a class="dropdown-item" href="#">Blog</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Cảm hứng CloudFee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cửa hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr color="black" />

        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Menu /</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sản phẩm hot trang chủ /</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">CloudFee Creamy Hạnh Nhân Nướng</a>
                    </li>
                </ul>
            </div>
        </nav>

        <br />
        <br />


        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-6">
                    <img src="~/Images/385551383_1481733272560936_3551204821388349675_n.jpg" class="rounded" alt="Cinque Terre" width="450" height="570" style="margin-left: 50px">
                </div>
                <div class="col-sm-9 col-md-6 text-black">
                    <h2>CloudFee Hạnh Nhân Nướng</h2>
                    <h4 style=" color: #e79439">49.000 đ</h4>
                    <h5>Chọn size (Bắt buộc)</h5>
                    <div class="btn-group">
                        <button type="button" class="btn btn-item">
                            <svg width="14" viewBox="0 0 13 16" xmlns="http://www.w3.org/2000/svg"> <path class="shape active" d="M11.6511 1.68763H10.3529V0.421907C10.3529 0.194726 10.1582 0 9.93104 0H2.17444C1.94726 0 1.75254 0.194726 1.75254 0.421907V1.65517H0.454361C0.194726 1.68763 0 1.88235 0 2.10953V4.18661C0 4.41379 0.194726 4.60852 0.421907 4.60852H1.33063L1.72008 8.8925L1.78499 9.76876L2.30426 15.6105C2.33671 15.8377 2.49899 16 2.72617 16H9.28195C9.50913 16 9.70385 15.8377 9.70385 15.6105L10.2231 9.76876L10.288 8.8925L10.6775 4.60852H11.5862C11.8134 4.60852 12.0081 4.41379 12.0081 4.18661V2.10953C12.073 1.88235 11.8783 1.68763 11.6511 1.68763ZM2.56389 8.40568H3.50507C3.47262 8.56795 3.47262 8.73022 3.47262 8.8925C3.47262 9.02231 3.47262 9.15213 3.50507 9.28195H2.66126L2.6288 8.92495L2.56389 8.40568ZM9.47667 8.92495L9.44422 9.28195H8.56795C8.60041 9.15213 8.60041 9.02231 8.60041 8.8925C8.60041 8.73022 8.56795 8.56795 8.56795 8.40568H9.50913L9.47667 8.92495ZM7.72414 8.8925C7.72414 9.83367 6.97769 10.5801 6.03651 10.5801C5.09534 10.5801 4.34888 9.83367 4.34888 8.8925C4.34888 7.95132 5.09534 7.20487 6.03651 7.20487C6.97769 7.20487 7.72414 7.95132 7.72414 8.8925ZM8.92495 15.1562H3.18053L2.72617 10.1582H3.82961C4.28398 10.9371 5.09534 11.4564 6.03651 11.4564C6.97769 11.4564 7.8215 10.9371 8.24341 10.1582H9.34686L8.92495 15.1562ZM9.60649 7.52941H8.21095C7.75659 6.81542 6.94523 6.3286 6.03651 6.3286C5.12779 6.3286 4.31643 6.81542 3.86207 7.52941H2.49899L2.23935 4.60852H9.86613L9.60649 7.52941ZM11.1968 3.73225H10.3205H1.75254H0.876268V2.56389H2.17444H2.2069H2.23935H8.27586C8.50304 2.56389 8.69777 2.36917 8.69777 2.14199C8.69777 1.91481 8.50304 1.72008 8.27586 1.72008H2.6288V0.876268H9.47667V2.10953C9.47667 2.33671 9.6714 2.53144 9.89858 2.53144H11.1968V3.73225Z"></path> </svg>
                            Nhỏ + 0 đ
                        </button>
                        <button type="button" class="btn btn-item">
                            <svg width="14" viewBox="0 0 13 16" xmlns="http://www.w3.org/2000/svg"> <path class="shape active" d="M11.6511 1.68763H10.3529V0.421907C10.3529 0.194726 10.1582 0 9.93104 0H2.17444C1.94726 0 1.75254 0.194726 1.75254 0.421907V1.65517H0.454361C0.194726 1.68763 0 1.88235 0 2.10953V4.18661C0 4.41379 0.194726 4.60852 0.421907 4.60852H1.33063L1.72008 8.8925L1.78499 9.76876L2.30426 15.6105C2.33671 15.8377 2.49899 16 2.72617 16H9.28195C9.50913 16 9.70385 15.8377 9.70385 15.6105L10.2231 9.76876L10.288 8.8925L10.6775 4.60852H11.5862C11.8134 4.60852 12.0081 4.41379 12.0081 4.18661V2.10953C12.073 1.88235 11.8783 1.68763 11.6511 1.68763ZM2.56389 8.40568H3.50507C3.47262 8.56795 3.47262 8.73022 3.47262 8.8925C3.47262 9.02231 3.47262 9.15213 3.50507 9.28195H2.66126L2.6288 8.92495L2.56389 8.40568ZM9.47667 8.92495L9.44422 9.28195H8.56795C8.60041 9.15213 8.60041 9.02231 8.60041 8.8925C8.60041 8.73022 8.56795 8.56795 8.56795 8.40568H9.50913L9.47667 8.92495ZM7.72414 8.8925C7.72414 9.83367 6.97769 10.5801 6.03651 10.5801C5.09534 10.5801 4.34888 9.83367 4.34888 8.8925C4.34888 7.95132 5.09534 7.20487 6.03651 7.20487C6.97769 7.20487 7.72414 7.95132 7.72414 8.8925ZM8.92495 15.1562H3.18053L2.72617 10.1582H3.82961C4.28398 10.9371 5.09534 11.4564 6.03651 11.4564C6.97769 11.4564 7.8215 10.9371 8.24341 10.1582H9.34686L8.92495 15.1562ZM9.60649 7.52941H8.21095C7.75659 6.81542 6.94523 6.3286 6.03651 6.3286C5.12779 6.3286 4.31643 6.81542 3.86207 7.52941H2.49899L2.23935 4.60852H9.86613L9.60649 7.52941ZM11.1968 3.73225H10.3205H1.75254H0.876268V2.56389H2.17444H2.2069H2.23935H8.27586C8.50304 2.56389 8.69777 2.36917 8.69777 2.14199C8.69777 1.91481 8.50304 1.72008 8.27586 1.72008H2.6288V0.876268H9.47667V2.10953C9.47667 2.33671 9.6714 2.53144 9.89858 2.53144H11.1968V3.73225Z"></path> </svg>
                            Vừa + 6.000 đ
                        </button>
                        <button type="button" class="btn btn-item">
                            <svg width="14" viewBox="0 0 13 16" xmlns="http://www.w3.org/2000/svg"> <path class="shape active" d="M11.6511 1.68763H10.3529V0.421907C10.3529 0.194726 10.1582 0 9.93104 0H2.17444C1.94726 0 1.75254 0.194726 1.75254 0.421907V1.65517H0.454361C0.194726 1.68763 0 1.88235 0 2.10953V4.18661C0 4.41379 0.194726 4.60852 0.421907 4.60852H1.33063L1.72008 8.8925L1.78499 9.76876L2.30426 15.6105C2.33671 15.8377 2.49899 16 2.72617 16H9.28195C9.50913 16 9.70385 15.8377 9.70385 15.6105L10.2231 9.76876L10.288 8.8925L10.6775 4.60852H11.5862C11.8134 4.60852 12.0081 4.41379 12.0081 4.18661V2.10953C12.073 1.88235 11.8783 1.68763 11.6511 1.68763ZM2.56389 8.40568H3.50507C3.47262 8.56795 3.47262 8.73022 3.47262 8.8925C3.47262 9.02231 3.47262 9.15213 3.50507 9.28195H2.66126L2.6288 8.92495L2.56389 8.40568ZM9.47667 8.92495L9.44422 9.28195H8.56795C8.60041 9.15213 8.60041 9.02231 8.60041 8.8925C8.60041 8.73022 8.56795 8.56795 8.56795 8.40568H9.50913L9.47667 8.92495ZM7.72414 8.8925C7.72414 9.83367 6.97769 10.5801 6.03651 10.5801C5.09534 10.5801 4.34888 9.83367 4.34888 8.8925C4.34888 7.95132 5.09534 7.20487 6.03651 7.20487C6.97769 7.20487 7.72414 7.95132 7.72414 8.8925ZM8.92495 15.1562H3.18053L2.72617 10.1582H3.82961C4.28398 10.9371 5.09534 11.4564 6.03651 11.4564C6.97769 11.4564 7.8215 10.9371 8.24341 10.1582H9.34686L8.92495 15.1562ZM9.60649 7.52941H8.21095C7.75659 6.81542 6.94523 6.3286 6.03651 6.3286C5.12779 6.3286 4.31643 6.81542 3.86207 7.52941H2.49899L2.23935 4.60852H9.86613L9.60649 7.52941ZM11.1968 3.73225H10.3205H1.75254H0.876268V2.56389H2.17444H2.2069H2.23935H8.27586C8.50304 2.56389 8.69777 2.36917 8.69777 2.14199C8.69777 1.91481 8.50304 1.72008 8.27586 1.72008H2.6288V0.876268H9.47667V2.10953C9.47667 2.33671 9.6714 2.53144 9.89858 2.53144H11.1968V3.73225Z"></path> </svg>
                            Lớn + 10.000 đ
                        </button>
                    </div>
                    <h5>Topping</h5>
                    <table>
                        <tr>
                            <th>
                                <button type="button" class="btn btn-outline-warning" style="margin-left: 10px; border-color:orange">Kem Phô Mai Macchiato + 10.000đ</button>
                            </th>
                            <th>
                                <button type="button" class="btn btn-outline-warning" style="margin-left: 10px">Shot Espresso + 10.000đ</button>
                            </th>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th>
                                <button type="button" class="btn btn-outline-warning" style="margin-left: 10px; border-color:orange">Trân châu trắng + 10.000đ</button>
                            </th>
                            <th>
                                <button type="button" class="btn btn-outline-warning" style="margin-left: 10px">Sốt Caramel 10.000đ</button>
                            </th>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th>
                                <button type="button" class="btn btn-outline-warning" style="margin-left: 10px; border-color:orange">Thạch cà phê + 10.000đ</button>
                            </th>
                            <th>
                                <button type="button" class="btn btn-outline-warning" style="margin-left: 10px">Thạch Oolong Nướng + 10.000đ</button>
                            </th>
                        </tr>
                    </table>
                    <br />
                    <center>
                        <button type="button" class="btn btn-warning" style="color: white"><img src="~/Images/door-open-solid-24.jpg" />Đặt Giao Tận Nơi</button>
                    </center>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <hr />
        <h1 style="font-size : 20px;">
            <strong>
                Mô tả sản phẩm
            </strong>
        </h1>

        <p>
            Vị đắng nhẹ từ cà phê phin truyền thống kết hợp Espresso Ý, lẫn chút ngọt ngào của kem sữa và lớp foam trứng cacao, nhấn thêm hạnh nhân nướng thơm bùi, kèm topping thạch cà phê dai giòn mê ly. Tất cả cùng quyện hoà trong một thức uống làm vị giác "thức giấc", thơm ngon hết nấc.
        </p>
        <br />
        <br />
        <hr />
        <h2 style="font-size : 20px;">
        </h2>
        <style>
            body {
                font-family: 'SF Pro Text', sans-serif;
                margin-left: 100px;
                font-size: 14px;
            }

            .active-item {
                background-color: #E57905;
                border: #E57905;
                color: white;
            }

            .btn-item, btn-item:hover {
                border: 1px solid rgba(0, 0, 0, 0.15) !important;
            }
        </style>


    </div>
</body>
</html>
