<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    i {
        color: gray;
        transition: all ease-in-out 0.5s;
        cursor: pointer;
    }

        i:hover {
            color: #ea8025;
        }
</style>
@if (Session["Ten"] != null)
{
    <a href="@Url.Action("GetCartInfo", "Cart")" style="text-decoration: none; color: red; font-weight: bold">
        <i class="fas fa-cart-plus" style="font-size:22px"></i><span id="cartItemCount">(@ViewBag.TotalNumber)</span> 
    </a>
}
else
{
    <a href="@Url.Action("Login", "Users")" style="text-decoration: none; color: red; font-weight: bold">
        <i class="fas fa-cart-plus" style="font-size:22px"></i>
    </a>
}

